
body {
    background-color: white;
}
header .container-fluid {
    padding: 0;
}
header .container-fluid:first-child  {
    color: white;
    background-color: #1277DC;
}
header .container-fluid:last-child  {
    padding: 2rem;
    background-color: #f0f0f0;
}
header .header-span  {
    display: inline-block;
    padding: .5rem ;
}
header   .active {
    padding: .5rem 3rem ;
    color: black;
    background: white;
}
header #active {
    color : white;
    background-color: #1277DC;
}
.parent {
    display:flex;
    justify-content:center;
    align-items:center;
}
.child{
    display: inline-block;
}
.blue-line {
    display: inline-block;
    width: 3px;
    margin: 0;
    background: #1277DC;
}
.blue-span {
    display: inline-block;
}

.button-div {
    height: 200px;
    width: 100%;
    display: table;
    overflow: hidden;
}
.button-div button {
    padding: .5rem 3rem;
}
.button-div .button {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
footer .QR-code {
    padding: 5rem 0 ;
    background-color:  #f0f0f0;
    color: gray;
}
footer .QR-code a {
    color: gray;
}
footer a:hover {
    color: #1277DC;
}
footer .copyright{
    color: white;
    background-color: #1277DC;
}
footer .footer-parent {
    text-align: center;
}
footer .footer-parent div {
    margin : .5rem 0;
}
.nav li  a {
    color: white;
    background: transparent
}
.striped input[type=text]  {
    width: 3rem;height: 2rem ;
}
.striped {
    color: gray;
}
.striped input[type=radio]   {
    opacity:0;
}
.striped input[type=radio] + i {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid;
}
.striped input[type=radio]:checked + i  {
    width:  12px;
    height:  12px;
    border: 5px solid #1277dc;
}
table {
    border: 1px solid lightgray;
}
table .gray-tr {
    background: #f2f2f2;
    color : #1277dc;
    font-weight: bold;
}
table .lightgray-tr{
    font-weight:normal;
    background: #FBFCFF;
}
table .lightgray-tr td{
    height: 100%;
    width: 100%;
}
table .lightgray-tr td .pull-right{
    display: block;
    height: 100%;
    background-color: black;
}
table .lightgray-tr label{
    font-weight:normal;
}
table tr .btn-group button   {
    border-radius: 0;
}
table tr  button .caret-span {
    background-color: #1277dc ;
    padding: 3px 5px;
    border-radius: 2px;
}
table button .caret-span {
    color: white;
}
.box {
    position: relative;
    border: solid 2px #9d9d9d;
    border-radius: 2px;
    margin-top: 2rem;
}
.box  .bmbox {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box  .bmbox .circle-number {
    background : #9d9d9d ;
    display: table;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color:   white;
    margin: 2px;
}
.box  .bmbox .table-son {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.step {
    text-align: center;
    color: #9d9d9d;
    font-size: 2rem;
}
.orange-box {
    border: orange 2px solid;
}
.orange-circle-number {
    background : orange  ;
    display: table;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color:   white;
    margin: 2px;
}
.orange-step {
    color : orange ;
    text-align: center;
    font-size: 2rem;
}